**/bin/**
**/obj/**
**/packages/**

**.suo
**.user
**.DotSettings
/.vs/NuGetReferenceSwitcher
/NuGetReferenceSwitcher.sln.ide
/NuGetReferenceSwitcher.sln.GhostDoc.xml
/UpgradeLog.htm
/NuGetReferenceSwitcher.VS14.sln.ide
/Build/VS14
/UpgradeLog2.htm
/NuGetReferenceSwitcher.VS12.sln.GhostDoc.xml
/NuGetReferenceSwitcher.VS13.sln.GhostDoc.xml
/NuGetReferenceSwitcher.VS14.sln.GhostDoc.xml
/NuGetReferenceSwitcher.VS12old
